<div class="row">
    <div class="col-2 d-none d-md-block">
        <div class="container" id="sidenav">
            <nav class="nav navbar-nav">
                <a [routerLink]="['day4']" class="text-decoration-none text-dark p-2">Day4</a>
                <a [routerLink]="['day5']" class="text-decoration-none text-dark p-2">Day5</a>
                <a [routerLink]="['day6']" class="text-decoration-none text-dark p-2">Day6</a>
                <a [routerLink]="['day7']" class="text-decoration-none text-dark p-2">Day7</a>
                <a [routerLink]="['day8']" class="text-decoration-none text-dark p-2">Day8</a>
            </nav>
        </div>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>


