<div class="container m-2">
    <div>
        <aside>
            <img id="day4Img" src="../../assets/img/IMG_20190331_105824.jpg" alt="Photo" style="width:130px;height:150px;" />

        </aside>
        <h1 style="align-content:flex-start">Fiyona Mistry</h1>
        <i>
        <p>Contact: 6354718856</p>
        <p>Email: fiyonamistry2211@gmail.com</p>
        </i>
        <br>
    </div>
    <div>
        <h3>Career Objective</h3>
        <p>Looking forward to expand my learning, knowledge and skills, while making a significant contribution to the success of the company.</p>
        <br>
    </div>
    <div>
        <h3>Education Qualification</h3>
        <table style="border:'1'">
            <tr>
                <th>Degree</th>
                <th>Institue</th>
                <th>Result</th>
                <th>Year</th>
            </tr>
            <tr>
                <td>MCA</td>
                <td>GLS University</td>
                <td>CGPA: 7.13</td>
                <td>Pursuing</td>
            </tr>
            <tr>
                <td>BCA</td>
                <td>Kadi University</td>
                <td>84.9%</td>
                <td>2019</td>
            </tr>
            <tr>
                <td>HSC</td>
                <td>Hillwoods School</td>
                <td>63.6%</td>
                <td>2016</td>
            </tr>
            <tr>
                <td>SSC</td>
                <td>Hillwoods School</td>
                <td>72.2%</td>
                <td>2014</td>
            </tr>
        </table>
        <br>
    </div>
    <article>
        <h3>Projects</h3>
        <ol type="1">
            <li>Health Care Management System</li>
            <ul style="list-style-type:disc">
                <li>Language used : Java, MySQL</li>
                <li>Role : Backend Developer</li>
                <li>Year : 2020</li>
                <li>Description : A web application through which patients can find doctors as per their department and book an online appointment based on the specialty, and convenient date.</li>
            </ul>
            <li>Blockchain Transactions</li>
            <ul style="list-style-type:disc">
                <li>Tool explored : R3 Corda</li>
                <li>Year : 2019</li>
                <li>Description : Explored an open-source blockchain platform and performed various transactions between different assignments</li>
            </ul>
            <li>Assistant</li>
            <ul style="list-style-type:disc">
                <li>Language used : Python</li>
                <li>Role : Developer</li>
                <li>Year : 2020</li>
                <li>Description : An interface which functions like google assistant using Speech Recognition and doing task, as said by the user like opening Wikipedia, Youtube, Chrome etc.</li>
            </ul>
            <li>Face Filter</li>
            <ul style="list-style-type:disc">
                <li>Language used : Python</li>
                <li>Role : Developer</li>
                <li>Year : 2019</li>
                <li>Description : An interface designed to add filters on a face, capture that particular image and save it, if necessary.</li>
            </ul>
            <li>Cake Shop Management System</li>
            <ul style="list-style-type:disc">
                <li>Language used : VB.net</li>
                <li>Role : Developer</li>
                <li>Year : 2018</li>
                <li>Description : A desktop site for employees to sell products and generate bill.</li>
            </ul>
        </ol>
        <br>
    </article>
    <section>
        <h3>Certifications</h3>
        <ul style="list-style-type:disc">
            <li>Certificate for volunteer in IT FAIR and AKSH.</li>
            <li>Certificate for Debugging the Code Python Charmer.</li>
            <li>Attended a workshop of Python in TOPS Technologies.</li>
            <li>Attended a workshop of Inferno Infosec on Information Security and Ethical Hacking.</li>
        </ul>
        <br>
    </section>
    <section>
        <h3>Technical Skills</h3>
        <ul style="list-style-type:disc">
            <li>Languages : Java, Python, VB.NET, C, C++, Swift</li>
            <li>Operating Systems : Windows, Linux, MacOS</li>
            <li>Databases : Oracle, MySQL</li>
            <li>Concepts : OOP, Data Structures, SDLC, IOT</li>
            <li>Tools : Android Studio, Anaconda, RStudio, XAMPP, Xcode, R3 Corda, Jupyter Notebook</li>
        </ul>
        <br>
    </section>
    <section>
        <h3>Personal Information</h3>
        <ul style="list-style-type:disc">
            <li>Father's Name : Bharatkumar D. Mistry</li>
            <li>Nationality : Indian</li>
            <li>Gender : Female</li>
            <li>Languages Known : English, Hindi, Gujarati</li>
            <li>Hobbies : Reading, Drawing, Dancing, Craft work</li>
            <li>Address : Flat No.: 85, A/5, Sector 3A/B, A.T.P.L, B/h Trimandir, Adalaj, Gandhinagar - 382421</li>
        </ul>
        <br>
    </section>
</div>