    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <th>ProductID</th>
                        <th>ProductName</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody [id]="['productDetails']"></tbody>
                </table>
                <button (click)="onClick()" class="btn btn-primary">Cart Summary</button>
            </div>
        </div>
    </div>