:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 8fr 8fr 4fr;
  grid-gap: 0.2em;
  font-family: sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

header {
  grid-area: 1 / 1 / 2/ -1;
  background-color: #a7ffbb;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

main {
  grid-area: 2/2/3/-1;
  background-color: #84ffff;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.sidebar {
  grid-area: 2 / 1 / 5 / 2;
  background-color: #18eeff;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.content1 {
  grid-area: span 1;
  background-color: #ffa;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.content2 {
  grid-area: span 1 / span 1;
  background-color: #feb;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

.content3 {
  grid-area: span 1;
  background-color: #ffb;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

footer {
  grid-area: span 1 / span 3;
  background-color: #eee;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
