* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 10px;
  padding: 10px;
  border: 10px solid blue;
}

@media screen and (max-width: 500px) {
  .container {
    border-color: red;
  }
}

/* Media queries with breakpoint */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    background-color: red;
  }
}

/* Small devices */
@media only screen and (min-width: 600px) {
  .container {
    background: green;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  .container {
    background: blue;
  }
}

/* Large devices */
@media only screen and (min-width: 992px) {
  .container {
    background: orange;
  }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
  .container {
    background: pink;
  }
}

/* Hide elements with Media querie */

@media screen and (max-width: 600px) {
  .container h1 {
    visibility: hidden;
  }
}

/* Change Font size with Media Queries */
@media screen and (min-width: 1200px) {
  .container p {
    font-size: 2em;
  }
}
