<!-- 4. Create calc component Two text boxes with label. Do the operation addition,multiple and substraction. Use two way binding and event binding. -->

<div id="cardId" class="m-5 mx-auto">
    <div class="card">
        <div class="card-header text-center"> Calculator </div>
        <div class="card-body">
            <form class="m-3">
                <div class="form-group p-2">
                    <label for="first">First Number : </label>
                    <input type="number" [(ngModel)]="First" name="First" class="form-control">
                </div>
                <div class="form-group p-2">
                    <label for="second">Second Number : </label>
                    <input type="number" [(ngModel)]="Second" name="Second" class="form-control">
                </div>
                <div class="form-group p-2">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="calc" value="add" (change)="calc($event.target.value)">
                            Addition
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="calc" value="minus"(change)="calc($event.target.value)">
                            Substraction
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="calc" value="multiply"(change)="calc($event.target.value)">
                            Multiplication
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="calc" value="divide"(change)="calc($event.target.value)">
                            Division
                        </label>
                    </div>
                </div>
                <div class="form-group p-2">
                    <label>Result is : {{ result }}</label>
                </div>
            </form>
        </div>
    </div>
</div>
