* {
    box-sizing: border-box;
}    
body{
    margin:0;
}
#div1{
    width: 100%;
    background-color: orange;
    height: auto;
    float: left;
}
#div1 img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#div1 h1{
    float:right;
    margin:0;
    margin-top:15px;
    margin-right:85%;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#div1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
#div1 li{
    float:left;
    border-right: 1px solid white;
}
#div1 li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding:  16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#div1 li a:hover:not(.active) {
    background-color: #111;
}
#div1 li a:active{
    background-color: orange;
}
.leftbar{
    width: 21.5%;
    background-color: orange;
}
.content{
   width: 78.5%;
   
}
.column{
    float:left;
}
.leftbar ul{
    list-style-type: none;
    overflow: hidden;
    margin:0;
    padding:0;
}
.leftbar li{   
    display: block;
    padding: 15px;
    background-color: orange;
    color:white;
    text-align: left;
    text-indent: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
}
.leftbar li:hover{   
    background-color: white;
    color:orange;
}

.header2{
   color: gray; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding:30px;
   text-align: center;

}
.footer{
    background-color: gray;
    width: 100%;
}
.footer ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}

.footer li{
    float: right;
    border-right: 1px solid white;
}

.footer li a{
    display: block;
    padding:7px;
    text-decoration: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;
    font-size: 14px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}