* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.list{
    font-size: 24px;
    font-family: roboto mono;
}

li {
    list-style: none;
}

#world {
    font-size: 32px;
}

hi,ul {
    font-weight: 800;
}


/* advance selectors */

/* attribute selectors */
a[href="#home"]{
    background-color: yellow;
    text-decoration: none;
    color: black;
}



/* pseudo class and pseudo elements */

h1:hover {
    background-color: yellow;
    font-style: italic;
}

ul::first-line {
    background: yellowGreen;
}



/* Combinators selectors */

/* Descendant combinator */

body h1 {
    background-color: yellowgreen;
}

body > li {
    font-size: 48px;
}

body > h1 {
    font-size: 48px;
}


h1 + ul {
    font-family: 'Times New Roman', Times, serif;
}



/* background properties */

body {
    background-color: blanchedalmond;
    /* sets color to background */

    background: url("./mountain.jpg") no-repeat center;
    /* url contain path to the image and
    no-repeat is boolean that stop from smaller image to repate and fill the bg
    we can also use repeat-x and repeat-y
    by defulat repeat boolean is added
    center is positional attribute*/

}

 /* background shorthand */

body {
    background:
       url(./mountain.jpg)    /* image */
       top center / 200px 200px /* position / size */
       no-repeat                /* repeat */
       fixed                    /* attachment */
       padding-box              /* origin */
       content-box              /* clip */
       red;                     /* color */
}


h1 {
    /* font: italic small-caps bold 44px "Roboto mono"; */
    /* short hand */


    line-height: 60px;
    letter-spacing: 50px;
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
    font-size: 2rem;
    font-weight: 600;
}
