<div>
    <p><b>Development Department</b></p>
    <ol type="A">
        <li>Manager-1</li>
        <ul type="square">
            <li>Employee1</li>
            <li>Employee2</li>
        </ul>
        <li>Manager-2</li>
        <ul type="disc">
            <li>Employee1</li>
            <li>Employee2</li>
        </ul>
    </ol>
</div><br>
<div>
    <p><b>Designing Department</b></p>
    <ol type="i">
        <li>Manager-1</li>
        <ul type="Circle">
            <li>Employee1</li>
            <li>Employee2</li>
        </ul>
        <li>Manager-2</li>
        <ul type="disc">
            <li>Employee1</li>
            <li>Employee2</li>
        </ul>
    </ol>
</div>
