body {
    margin: 0;
    background-color: #262626;
}
nav{
   overflow: hidden;
   width: 100%;
   height: 150px;
   display: block;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
    right: 500px;
    float: right;
    list-style-type: none;
    padding: 14px 10px;
    margin: 0 15px;
}

nav ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;

}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: dodgerblue;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

nav ul li a:hover:not(.active):before {
    transform: scale(1.1);
    box-shadow: 0 0 15px dodgerblue;
}

nav ul li a:hover:not(.active) {
    color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
    text-decoration: none;
}
nav ul li a.active::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px dodgerblue;
}

nav ul li a.active {
    color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
    text-decoration: none;
}
nav ul li a.active .navhead{
    display: block;
}

.navhead{
    display: none;
    color: dodgerblue;
    font-family:  'Julius Sans One';
}

nav ul li a:hover .navhead{
    display: block;
}
.left {
    float: left;
}

.index{
    float: left;
    display: block;
    width:300px;
    height: 800px;
    background-color: rgb(92, 89, 89);
    box-sizing: border-box;
    border-radius: 5px;
}
.content{
    display: block;
    float: left;
    width: 1200px;
    height: 800px;
    background-color: #BFBFBF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    overflow: scroll;
}
.headtext{
    color: #c9d0d4; 
    font-family: 'Julius Sans One', 'Helvetica Neue', sans-serif; 
    font-size: 46px; 
    font-weight: 100; 
    line-height: 50px; 
    letter-spacing: 1px; 
    padding: 0 0 40px; 
}
.welcome-img{
    float: left;
    width: 600px;
    height: 500px;
}
.welcome-text{
    font-family: "Garamond";
    color: #c9d0d4;
    font-size: 40px;
    text-align: justify;
    text-shadow: wheat;
    bottom: 10%;
    left: 10%;
}
a.mail-link{
    font-size: 20px;
}
.index ul{
    list-style-type: none;
}
.dropbtn {
    display: block;
    background-color: #333;
    color: #c9d0d4;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 300px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #BFBFBF;
    width: 300px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      color: #262626;
      background-color: dodgerblue;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  .dropdown:hover .dropbtn {
    color: #262626;  
    background-color: dodgerblue;
}
  h3.indexhead{
      font-size: 20px;
      font-weight: bold;
  }
  .index-img{
      max-width: 1100px;
      position: relative;
      padding: 10px 40px;
      margin: 10px 40px;
  }
 