    <div class="main-container">
        <nav>
            <a href="home.html" target="_blank">Home</a>
            <a href="blog.html" target="_blank">Blog</a>
            <a href="features.html" target="_blank">Features</a>
            <a href="aboutUs.html" target="_blank">About Us</a>
        </nav>
        <div class="sidebar">
            <h2>Register Yourself for Photography Contest</h2>
            <form>
                <table cellpadding="10">
                    <tr>
                        <td><input type="text" name="firstName" id="firstName" placeholder="First Name"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lastName" id="lastName" placeholder="Last Name"></td>
                    </tr>
                    <tr>
                        <td><input type="number" name="contact" id="contact" placeholder="Contact Number"></td>
                    </tr>
                    <tr>
                        <td><input type="email" name="email" id="email" placeholder="Email Id"></td>
                    </tr>
                    <tr>
                        <td><input type="button" name="submit" value="Submit"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="main">
            <img src="../../assets/img/gvQ9NhQP8wbbM32jXy4V3j.jpg" title="banner">
        </div>
        <div class="content1">
            <h2>Nature</h2>
            <img src="../../assets/img/unnamed.jpg" title="Nature">
        </div>
        <div class="content2">
            <h2>Art</h2>
            <img src="../../assets/img/53eb735fc4739606466d81ec2a5abad7.jpg" title="Art">
        </div>
        <div class="content3">
            <h2>Creative</h2>
            <img src="../../assets/img/48f3c8ddbef7c467599d74ed05df9733.jpg" title="Creative">
        </div>
        <div class="content4">
            <h2>Light</h2>
            <img src="../../assets/img/lighting-fairy-lights.jpg" title="Light">
        </div>
        <footer>
            &copy; Fiyona Mistry
        </footer>
    </div>