<h1>Tutorial Site</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid bg-info">
    <div class="navbar-header">
      <img src="../assets/radix-logo.png" alt="">
    </div>
    <br>
    <div class="container" style="font-size:larger;">
      <a routerLink="/Html" routerLinkActive="active">HTML</a>&nbsp;&nbsp;
      <a routerLink="/css" routerLinkActive="active">CSS</a>&nbsp;&nbsp;
      <a routerLink="/javascript" routerLinkActive="active">JavaScript</a>&nbsp;&nbsp;
    </div>

  </div>
</nav>

<router-outlet></router-outlet>