<!-- 2. Create Login Component which validate a user with below credential username=admin, password=admin -->

<form class="m-3">
    <div class="row">
        <div class="col">
            <input type="text" name="username" [(ngModel)]="username" placeholder="Enter Username" class="form-control m-3">
        </div>
        <div class="col">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Enter Password" class="form-control m-3">
        </div>
        <div class="col">
            <button class="btn btn-primary m-3 px-5" (click)="login()">Login</button>
        </div>  
    </div>
</form>