
        .navbar {
            background-color: black;
            border-radius: 34px;
            padding-bottom: 6px;
        }

        .navbar ul {
            overflow: auto;
            
        }

        .navbar li {
            list-style: none;
            float: left;
            text-align: center;
            font-size: large;
            margin-top: 25px;
            margin-left: 20px;
            
        }
        .navbar li a{
            padding: 12px 20px;
            text-decoration: none;
            color: white    ;
        }
        .navbar li a:hover
        {
            color: aqua;
            font-size: larger;

        }
        input
        {
            margin-left: 800px;
            border-radius: 14px;
        }
