* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

img {
  width: 300px;
  height: 400px;
  margin: 10px;
}

.imageContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
