/* .box {
  background-color: orange;
  height: 300px;
  width: 300px;
  padding: 50px;
  border: 10px solid yellow;
  margin: 50px auto;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
.flex-container {
  display: flex;
  border: 10px solid black;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
} */

/* .flex-container div {
  height: 100px;
  width: 100px;
  background-color: yellow;
  margin: 10px;
  text-align: center;
  padding: 40px;
} */

/* reponsive design */

.flex-container {
  display: flex;
  border: 10px solid black;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container div {
  margin: 0;
  height: 100px;
  width: 200px;
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
}
