.main-container {
    background-color: black;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.main-container nav a{
    color:white;
    padding:20px;
    font-size:20px;
    text-decoration:none;
}
@media (max-width: 500px){
    .main-container nav a, .main-container{
        flex-direction:column;
    }
}