* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 3fr 0.8fr;
  grid-template-areas:
    "head head head"
    "main main side"
    "foot foot foot";
  grid-gap: 0.4em;
  font-family: poppins;
  font-weight: 800px;
  text-transform: uppercase;
  text-align: center;
}

header {
  grid-area: head;
  background-color: #ffb;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid: "logo . nav";
  border-radius: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}

nav {
  display: grid;
  align-content: center;
  grid-area: nav;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
  display: inline-block;
}

main {
  padding: 5px;
  grid-area: main;
  background-color: #faf;
  border-radius: 5px;
}

.sidebar {
  padding: 5px;
  grid-area: side;
  background-color: #fcc;
  border-radius: 5px;
}

footer {
  padding: 5px;
  grid-area: foot;
  background-color: #ddd;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.5fr 3fr 1fr;
    grid-template-areas:
      "head"
      "head"
      "main"
      "foot";
  }

  .sidebar {
    display: none;
  }

  header {
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo" "nav";
  }

  nav ul {
    flex-direction: column;
  }
}
