body{
    background-image: url(../Assets/homePage-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.registerCard{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 600px;
    height: 400px;
}

.registerCardContent{
    margin-left: auto;
    margin-right: auto;
}

.registerButton{
    margin-left: 60px;
}

.t_and_c{
    font-size: 10px;
    margin-top: 20px;
    margin-left: 60px;
}

@media (max-width: 992px){
    .registerCard{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 700px;
        height: 500px;
    }
    .cars24-info{
        display: none;
    }
    .registerButton{
        margin-left: 70px;
    }
}

@media (max-width:600px){
    .registerCard{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 400px;
        height: 500px;
    }
    .cars24-info{
        display: none;
    }
    .registerButton{
        margin-left: 35px;
    }
}





