<div class="maincontain">
    <div class="container">
        <div class="header">
            <div class="full-name">
                <span class="first-name">Dhruti</span>
                <span class="last-name">patel</span>
            </div>
            <div class="contact-info">
                <span class="email">Email: </span>
                <span class="email-val">pdhruti211@gmail.com</span>
                <span class="separator"></span>
                <span class="phone">Phone: </span>
                <span class="phone-val">111-222-3333</span>
            </div>

            <div class="about">

                <span class="desc">
                    I am a front-end developer with more than 1 years of experience writing html, css, and js. I'm
                    motivated, result-focused and seeking a successful team-oriented company with opportunity to grow.
                </span>
            </div>
        </div>
        <div class="details">
            <div class="section">
                <div class="section__title">Experience</div>
                <div class="section__list">
                    <div class="section__list-item">
                        <div class="left">
                            <div class="name">KlowdBox</div>
                            <div class="addr">gec modasa, CE</div>
                            <div class="duration">Jan 2018 - Feb 2021</div>
                        </div>
                        <div class="right">
                            <div class="name">Fr developer</div>
                            <div class="desc"></div>
                        </div>
                    </div>
                    <div class="section__list-item">


                        <div class="desc"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section">
            <div class="section__title">Education</div>
            <div class="section__list">
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">Gujarat Institute of technology</div>
                        <div class="addr">gec modasa</div>
                        <div class="duration">Jan 2018 - Feb 2021</div>
                    </div>
                    <div class="right">
                        <div class="name">Fr developer</div>
                        <div class="desc"></div>
                    </div>
                </div>
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">School</div>
                        <div class="addr">sadhna school</div>
                        <div class="duration">Jan 2011 - Feb 2015</div>
                    </div>
                    <div class="right">
                        <div class="name">schooling</div>
                        <div class="desc"></div>
                    </div>
                </div>

            </div>

        </div>
        <div class="section">
            <div class="section__title">Projects</div>
            <div class="section__list">
                <div class="section__list-item">
                    <div class="name">Child Vaccination Portal</div>
                    <div class="text">in this project we build website for child for vaccination register the data of
                        user and take appoitment and also generate report of their child.we can also see status of
                        vaccine</div>
                </div>

                <div class="section__list-item">
                    <div class="name">Comp gallery</div>
                    <div class="text"> comp gallery has android base appliction where we can learn computer basic parts
                        and how to connect.and we can also provide video of learning <a
                            href="https://www.w3schools.com/html/html5_video.asp">link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section__title">Skills</div>
            <div class="skills">
                <div class="skills__item">
                    <div class="left">
                        <div class="name">
                            Javascript
                        </div>
                    </div>
                    <div class="right">
                        <input id="ck1" type="checkbox" checked />

                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" />

                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" />

                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" />
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" />
                        <label for="ck5"></label>

                    </div>
                </div>

            </div>
            <div class="skills__item">
                <div class="left">
                    <div class="name">
                        CSS</div>
                </div>
                <div class="right">
                    <input id="ck1" type="checkbox" checked />

                    <label for="ck1"></label>
                    <input id="ck2" type="checkbox" />

                    <label for="ck2"></label>
                    <input id="ck3" type="checkbox" />

                    <label for="ck3"></label>
                    <input id="ck4" type="checkbox" />
                    <label for="ck4"></label>
                    <input id="ck5" type="checkbox" />
                    <label for="ck5"></label>

                </div>
            </div>

        </div>
        <div class="section">
            <div class="section__title">
                Interests
            </div>
            <div class="section__list">
                <div class="section__list-item">
                    music, programming.
                </div>
                <video width="600" height="250" controls autoplay>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

            </div>
        </div>
    </div>
</div>