
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #2196F3;
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
    @media only screen and (max-width:992px) {
        .grid-container{
            background-color: blueviolet;
            border-width: 5px;
            padding: 15px;
        }            
    }
    @media only screen and (max-width:768px) {
        .grid-container{
            background-color: cyan;
            border-width: 15px;
            padding: 25px;
        }            
    }
    @media only screen and (max-width:600px) {
        .grid-container{
            background-color: turquoise;
            border-width: 0px;
            padding: 45px;
        }            
    }
    @media only screen and (min-width:601px) {
        .grid-container{
            background-color: tan;
            border-width: 5px;
            padding: 35px;
        }            
    }