<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="container my-3 p-4 shadow">
    <div class="row">
        <h3 class="text-center">Student Data</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col">

            <table class="table text-center text-nowrap table-bordered">
                <thead>
                    <th>Student Name</th>
                    <th>Date of Birth</th>

                    <th>First Language</th>

                    <th>Edit</th>
                    <th>Remove</th>
                </thead>
                <tbody *ngFor="let student of studentList;let i = index">
                    <tr>
                        <td>{{student.firstName}} {{student.middleName}} {{student.lastName}}</td>
                        <td>{{student.birthDate}}</td>

                        <td>{{student.firstLanguage}}</td>



                        <td><button class="btn btn-primary btn-sm" (click)="editStudent(i)">edit</button></td>
                        <td><button class="btn btn-primary btn-sm" (click)="deleteStudent(i)">remove</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>