<div class="container">
    <h1 class="display-3 text-success">Day 3</h1>
    <form>
                <table>
                    <caption>Employee Detail Page</caption>
                    <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input type="text" id="name" name="name" value="name" required></td>
                    </tr>
                    <tr>
                        <td><label for="age">Age:</label></td>
                        <td><input type="number" id="age" name="age" value="00" required></td>
                    </tr>
                    <tr>
                        <td><label for="gender">Gender:</label></td>
                        <td><input type="radio" id="male" name="gender" value="male" checked><label for="male">Male</label></td>
                        <td><input type="radio" id="female" name="gender" value="female"><label for="female">Female</label></td>
                    </tr>
                    <tr>
                        <td><label for="designation">Designation:</label></td>
                        <td><input type="text" id="designation" name="designation" value="designation" required></td>
                    </tr>
                    <tr>
                        <td><label for="salary">salary:</label></td>
                        <td><input type="number" id="salary" name="salary" value="00" required></td>
                    </tr>
                    <tr>
                        <td><label for="location">Location</label></td>
                        <td>
                        <select name = "dropdown" required>
                            <option value = "Ahmedabad" selected>Ahmedabad</option>
                            <option value = "Rajkot">Rajkot</option>
                            <option value = "Surat">Surat</option>
                            <option value = "Junagadh">Junagadh</option>
                         </select>
                         </td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input type="email" id="email" name="email" value="aaa@xyz.com" required></td>
                    </tr>
                    <tr>
                        <td><label for="joiningDate">Date of joining:</label></td>
                        <td><input type="date" id="joiningDate" name="joiningDate" required></td>
                    </tr>
                    <tr>
                        <td><label for="number">Contact Number:</label></td>
                        <td><input type="number" id="number" name="number" value="000000000" maxlength="10" required></td>
                    </tr>
                </table>
                <input type = "submit" name = "submit" value = "Submit" />
            </form>

</div>