<div class="container m-2"></div>
    <div>
        <header>
            <p>LOGO HERE</p>
        </header>
    </div>
    <div class="banner">
        <img src="../../assets/img/bg.jpg" title="Banner">
    </div>
    <div class="downloadNow">
        <h2>Lorem ipsum dolor sit amet, consecteur adipiscing elit.</h2>
        <br>
        <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        <br>
        <input type="button" value="Download Now">
    </div>

    <hr>
    <div class="fullyResponsive">
        <div class="desk-fullyResponsive">
            <h2>Fully Responsive</h2>
            <br>
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        </div>
        <div class="desk-fullyResponsive">
            <h2>HTML5 + CSS3</h2>
            <br>
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        </div>
        <div class="desk-fullyResponsive">
            <h2>Launch Ready</h2>
            <br>
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        </div>
    </div>
    <h2 style="color:gray; margin-left:20px;">Recent Works</h2>
    <hr>
    <div class="recentWorks">
        <div class="desk-recentWorks">
            <img src="../../assets/img/logo1.png" title="Logo1">
            <br>
            <h3>Project One</h3>
            <br>
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        </div>
        <div class="desk-recentWorks">
            <img src="../../assets/img/logo5.png" title="Logo2">
            <br>
            <h3>Project Two</h3>
            <br>
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        </div>
        <div class="desk-recentWorks">
            <img src="../../assets/img/logo3.png" title="Logo3">
            <br>
            <h3>Project Three</h3>
            <br>
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        </div>
        <div class="desk-recentWorks">
            <img src="../../assets/img/logo4.png" title="Logo4">
            <br>
            <h3>Project Four</h3>
            <br>
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        </div>
    </div>
    <br>
    <div class="siteAndShots">
    <div class="welcomeToSite">
        <h2>Welcome To This Site</h2>
        <hr>
        <img src="../../assets/img/logo6.jpg" title="Logo6">
        <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
        <ul style="list-style-type:circle">
            <li>This handout will help you understand</li>
            <li>how to develop stronger paragraphs</li>
            <li>how to completely and,</li>
            <li>clearly express your ideas.</li>
        </ul>
        <br>
        <section style="border-left-style:groove; padding:10px;">
            <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
            <p style="font-size:20px">-CEO. Jack Bour</p>
        </section>
    </div>
    <div class="latestShots">
        <h2>Latest Shots</h2>
        <img src="../../assets/img/logo8.png" title="Logo8">
    </div>
    </div>
    <div class="client">
        <h2>Our Clients</h2>
        <hr>
        <img src="../../assets/img/logo9.png" title="Logo9">
        <img src="../../assets/img/logo9.png" title="Logo9">
        <img src="../../assets/img/logo9.png" title="Logo9">
        <img src="../../assets/img/logo9.png" title="Logo9">
        <img class="client1" src="../../assets/img/logo9.png" title="Logo9">
        <img class="client2" src="../../assets/img/logo9.png" title="Logo9">
        <img class="client3" src="../../assets/img/logo9.png" title="Logo9">
    </div>
    <div class="footer">
    <div class="logoHere">
        <h2 style="color:green;">Logo Here</h2>
        <br>
        <p>This handout will help you understand how paragraphs are formed, how to develop stronger paragraphs, and how to completely and clearly express your ideas.</p>
    </div>
    <div class="latestPosts">
        <h3>Latest Posts</h3>
        <hr style="border:1px dashed;">
        <br>
        <div>Incredible Content</div>
        <br>
        <div style="font-size:14px;">Jan 13, 2021</div>
        <br>
        <hr>
        <br>
        <div>Incredible Content</div>
        <br>
        <div style="font-size:14px;">Jan 13, 2021</div>
        <br>
        <hr>
        <br>
        <div>Incredible Content</div>
        <br>
        <div style="font-size:14px;">Jan 13, 2021</div>
    </div>
    <div class="links">
        <h3>Usefull Links</h3>
        <hr style="border:1px dashed;">
        <br>
        <p><a href="#aboutUS">ABOUT US</a></p>
        <p><a href="#aboutUS">ABOUT US</a></p>
        <p><a href="#aboutUS">ABOUT US</a></p>
        <p><a href="#aboutUS">ABOUT US</a></p>
        <p><a href="#aboutUS">ABOUT US</a></p>
        <p><a href="#aboutUS">ABOUT US</a></p>
    </div>
    <div class="contactUs">
        <h3>Contact Us</h3>
        <hr style="border:1px dashed;">
        <address>
            30/B Adarsh Society,
            Near Kaashi Parekh Complex,
            Swastik Char Rasta, C G Road,
            Ahmedabad - 380009
            Gandhinagar - Gujarat
            Phone: +91-79-5785467
        </address>
    </div>
    </div>
    <div class="main-footer">
        <p>2015 &copy; All Rights Reserved. </p>
        <p style="color:green;">Privacy Policy | Terms of Service</p>
    </div>