<!-- 4. Create a left bar component which contain some dummy adds. -->

<div id="left-bar">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis rerum in eligendi ratione iure sint, hic quisquam illo quasi maxime architecto delectus repellat sunt nostrum amet accusamus! Possimus tempore ut assumenda maxime alias. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed repellendus, temporibus cumque at sit officiis explicabo. Repudiandae dolores molestias amet aliquam laudantium velit veritatis suscipit quaerat dolorem numquam, eveniet optio facilis maxime sit veniam quisquam fugiat! Assumenda, accusamus!</p>
</div>