<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="list-group">
    <ul>
        <br>
        <h4>Day 3</h4>
        <a routerLink="./Day3" routerLinkActive="active">Assignment 3</a>
        <h4>Day 4</h4>
        <a routerLink="./Day4" routerLinkActive="active">Assignment 4</a>
        <h4>Day 5</h4>
        <a routerLink="./Day5" routerLinkActive="active">Assignment 5</a>

    </ul>
</div>
<router-outlet></router-outlet>