@use "../custom" as *;
@use "../components/mixins" as *;

.faq-section {
  @include block-spacer(8vh, 8vh, 8vw);

  .heading {
    font-size: clamp(2.027rem, calc(0.6366rem + 2.9004vw), 3.247rem);
    line-height: 1.2;
    font-weight: 800;
    font-family: gd-sage, "Times", "Times New Roman", serif;
    text-align: center;

    @include media-breakpoint-down(md) {
      padding-top: 430px;
    }
  }
  .sub-heading {
    font-size: 1.4rem;
    text-align: center;
    // font-weight: 700;
    margin: 1rem auto;
  }
}

#accordionFaqs {
  @include block-spacer(16vh, 8vh, 4vw);

  @include media-breakpoint-up(md) {
    width: 70vw;
  }
  @include media-breakpoint-up(lg) {
    width: 50vw;
  }

  #flush-headingOne {
    border-top: 1px solid #d6d6d6;
  }

  .accordion-button {
    font: 695 clamp(1.125rem, calc(0.3534rem + 1.6095vw), 1.802rem) / 1.2
        gdsherpa,
      Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    margin: 0.8rem auto;

    @include media-breakpoint-up(md) {
      margin: 2rem auto;
    }
  }

  .accordion-body {
    margin-bottom: 1rem;
    .link {
      color: $teal;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
