<!--Create a Rectangle Component which computes area of Rectangle.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<hr>
<div class="container">
 
<input id="tb1" type="number" name="num1" [(ngModel)]="num1" placeholder="Enter width " ><br><br>

 <input id="tb2" type="number" name="num2" [(ngModel)]="num2" placeholder="Enter hight "><br><br>
 <button (click)=" rect()" id="btnMul" class="btn btn-info">Area</button><br><br>
 <h3>Rectangle Area : {{num3}}</h3>
 
 </div>