<div class="row">
    <div class="col-2 d-none d-md-block">
        <div class="container" id="sidenav">
            <nav class="nav navbar-nav">
                <a [routerLink]="['day15']" class="text-decoration-none text-dark p-2">Day15</a>
                <a [routerLink]="['day16']" class="text-decoration-none text-dark p-2">Day16</a>
                <a [routerLink]="['day17']" class="text-decoration-none text-dark p-2">Day17</a>
                <a [routerLink]="['day18']" class="text-decoration-none text-dark p-2">Day18</a>
                <a [routerLink]="['day19']" class="text-decoration-none text-dark p-2">Day19</a>
                <a [routerLink]="['day20']" class="text-decoration-none text-dark p-2">Day20</a>
            </nav>
        </div>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>


