* {
  box-sizing: border-box;
}

.box {
  height: 120px;
  width: 370px;
  background-color: lightblue;
  border: 1px solid black;
  overflow: hidden;
}

.box1,
.box2,
.box3 {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}

.container {
  width: 200px;
  height: 200px;
  /* overflow: hidden; */
  /* overflow: scroll; */
  overflow: auto;
}
