* {
  margin: 0;
  padding: 0;
}

float properties img {
  width: 50%;
  float: left;
}
p {
  float: left;
  width: 50%;
  font-size: 1.5em;
}

/* position
static
relative
fixed
absolute
sticky
*/

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid orange;
  width: 500px;
  height: 800px;
  overflow: visible;
}

.box1 {
  position: absolute;
  left: 20px;
  height: 100px;
  width: 100px;
  border: 10px solid black;
}
.box2 {
  position: relative;
  left: 50%;
  height: 100px;
  width: 100px;
  border: 10px solid black;
}
.box3 {
  position: fixed;
  height: 100px;
  width: 100px;
  border: 10px solid black;
}

/* overflow */

.img-container {
  height: 300px;
  width: 300px;
  /* overflow: visible; */
  /* overflow: hidden; */
  /* overflow: scroll; */
}
