
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
      <app-hello-world></app-hello-world>
      <app-calc></app-calc>
      <hr>
      <div class="container">
         <h1>Assignment</h1>
      </div>
      <app-rectangle></app-rectangle>
      <app-login></app-login>
      <app-circle></app-circle>
      <app-leftbar>

      </app-leftbar>
   <app-signup></app-signup>
</body>
<br><br>
   <app-itemdetail>
      <app-itemsdata></app-itemsdata>
   </app-itemdetail><br><br>
<app-student-list></app-student-list>
<app-student></app-student>
<app-student-count></app-student-count>
