<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="list-group">
    <ul>
        <br>
        <h4>Day 15</h4>
        <a routerLink="./Day15" routerLinkActive="active">Assignment 5</a>
        <h4>Day 16</h4>
        <a routerLink="./Day16" routerLinkActive="active">Assignment 6</a>
        <h4>Day 17</h4>
        <a routerLink="./Day17" routerLinkActive="active">Assignment 7</a>
        <h4>Day 18</h4>
        <a routerLink="./Day18" routerLinkActive="active">Assignment 8</a>
        <h4>Day 19</h4>
        <a routerLink="./Day19" routerLinkActive="active">Assignment 9</a>
        <h4>Day 20</h4>
        <a routerLink="./Day20" routerLinkActive="active">Assignment 10</a>
    </ul>
</div>
<router-outlet></router-outlet>