* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins;
}

a {
  text-decoration: none;
  color: #eee;
}

header {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100vw;
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 2em;
  font-family: satisfy;
  font-weight: 800;
  letter-spacing: 10px;
  color: white;
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover {
  background-color: white;
  color: #2d2d2d;
}

nav ul {
  display: flex;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  background-color: greenyellow;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #777;
}

#About {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  background-color: seagreen;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #333;
}

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  background-color: orange;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #333;
}
