<div class="container">
    <div class="row">
      <div class="col-md-8">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div id="user-data">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                ngModel
              />
            </div>
            <button class="btn btn-primary">Suggest a username</button>
            <div class="mb-3">
              <label for="emial" class="form-label">Mail</label>
              <input type="email" name="emial" id="emial" class="form-control" ngModel/>
            </div>
          </div>
          <div class="mb-3">
            <label for="secret">Secret Question</label>
            <select name="secret" id="secret" class="form-select" ngModel>
              <option value="pet">Your First Pet?</option>
              <option value="teacher">Your First teacher?</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
