@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
body {
  background-color: #f1f3f6;
}

#navbar {
  height: 56px;
  width: 100%;
  z-index: 1;
  top: 0;
  position: sticky;
  background-color: #2874f0;
}
#navbar .container-fluid {
  display: grid;
  grid-template-columns: 100px 150px 1fr 300px 150px;
  grid-template-rows: 1fr;
  grid-template-areas: ". logo form nav cart";
}
#navbar .navbar-brand {
  width: 75px;
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#navbar .navbar-brand .logo-img {
  width: 75px;
}
#navbar .navbar-brand .logo-text {
  margin: 0;
  width: 75px;
  font-family: Roboto;
  font-size: 11px;
  line-height: 15.4px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navbar .navbar-brand .logo-text .plus {
  color: #ffe500;
  display: flex;
  align-items: center;
}
#navbar .navbar-brand .logo-text .plus img {
  align-self: flex-start;
  width: 10px;
}
#navbar #navbarnav {
  grid-area: nav;
}
#navbar #navbarnav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#navbar #navbarnav ul .account-nav .btn {
  padding: 5px 40px;
  border-radius: 0;
  background-color: #fff;
  color: #2874f0;
  font-family: Roboto;
  font-weight: 500;
}
#navbar #navbarnav ul .more-nav {
  margin: auto;
  width: 56px;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
}
#navbar .cart {
  grid-area: cart;
  color: #fff;
  width: 60px;
}
#navbar .cart button {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navbar .cart button span {
  margin-left: 5px;
  font-family: Roboto;
  font-weight: 500;
}
#navbar form {
  width: 560px;
  grid-area: form;
  margin: 0 12px;
}
#navbar form .input-group input {
  border: none;
  border-radius: 0;
  height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
}
#navbar form .input-group .input-group-text {
  background: #fff;
  height: 36px;
  border-radius: 0;
  outline: none;
  border: none;
  color: #2874f0;
}

#nav-category {
  background-color: #fff;
}
#nav-category .container-fluid {
  display: flex;
  justify-content: center;
}
#nav-category .container-fluid ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#nav-category .container-fluid ul .nav-item {
  text-align: center;
}
#nav-category .container-fluid ul .nav-item .nav-link {
  text-decoration: none;
  color: #5c5c5c;
}
#nav-category .container-fluid ul .nav-item .nav-link img {
  width: 64px;
  height: 64px;
}
#nav-category .container-fluid ul .nav-item .nav-link p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

#banner-section {
  height: 280px;
}
#banner-section #banner-carousel {
  height: 100%;
}
#banner-section #banner-carousel .carousel-inner .carousel-item img {
  height: 280px;
}

.card-container {
  overflow: hidden;
  height: 400px;
}
.card-container header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.card-container header .header-text {
  display: flex;
  justify-content: space-between;
}
.card-container header .header-text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-container header .header-text div h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
.card-container header .header-text div p {
  text-align: end;
}
.card-container header .header-text .btn {
  border-radius: 0;
  background-color: #2874f0;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 500;
  padding: 10px 20px;
}
.card-container .card-slider {
  background-color: #fff;
  overflow: hidden;
}
.card-container .card-slider .owl-carousel {
  background-color: #fff;
}
.card-container .card-slider .owl-carousel div {
  display: inline-block;
}
.card-container .card-slider .owl-carousel .card {
  width: 220px;
  border: none;
}
.card-container .card-slider .owl-carousel .card .card-img {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container .card-slider .owl-carousel .card .card-img img {
  max-width: 150px;
  max-height: 150px;
}
.card-container .card-slider .owl-carousel .card .card-body {
  font-family: Roboto;
}
.card-container .card-slider .owl-carousel .card .card-body .card-title {
  font-size: 14px;
  font-weight: 500;
}
.card-container .card-slider .owl-carousel .card .card-body .card-text {
  margin: 0;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.card-container .card-slider .owl-carousel .card .card-body .card-text .mrp {
  text-decoration: line-through;
  font-weight: 500;
}
.card-container .card-slider .owl-carousel .card .card-body .card-text .selling-price {
  font-weight: 500;
}
.card-container .card-slider .owl-carousel .card .card-body .card-text .discount {
  font-size: 13px;
  font-weight: 500;
  color: #388e3c;
}
.card-container .card-slider .owl-carousel .card .card-body .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container .card-slider .owl-carousel .card .card-body .btn i {
  margin-right: 5px;
}

#deals-section .card-container {
  height: 400px;
}

#info-section {
  font-family: Roboto;
  background-color: #fff;
  color: #878787;
}
#info-section h2 {
  font-size: 16px;
  font-weight: 600;
}
#info-section h4 {
  font-size: 14px;
  font-weight: 600;
}
#info-section p {
  font-size: 11px;
}

footer {
  background-color: #172337;
  color: #fff;
  font-size: 12px;
  text-align: start;
}
footer li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  color: #fff;
}
footer .footer-links {
  padding-top: 12px;
  display: flex;
  justify-content: space-evenly;
}
footer .footer-links h4 {
  font-size: 12px;
}
footer .footer-links .about h4 {
  padding-left: 32px;
  font-size: 12px;
}
footer .footer-links .help h4 {
  padding-left: 32px;
  font-size: 12px;
}
footer .footer-links .Policy h4 {
  padding-left: 32px;
  font-size: 12px;
}
footer .footer-links .Social h4 {
  padding-left: 32px;
  font-size: 12px;
}
footer .copyright {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-evenly;
}

#login-modal .modal-content {
  width: 650px;
  min-height: 400px;
}
#login-modal .modal-content .modal-body {
  padding: 0;
  font-family: Roboto;
  display: flex;
}
#login-modal .modal-content .modal-body .login-text {
  padding: 33px 40px;
  width: 260px;
  color: white;
  background-color: #2874f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#login-modal .modal-content .modal-body .login-text .text h4 {
  font-size: 28px;
}
#login-modal .modal-content .modal-body .login-text .text p {
  font-size: 18px;
  font-weight: 400;
}
#login-modal .modal-content .modal-body .forms .login-form {
  padding: 33px 40px;
  width: 350px;
}
#login-modal .modal-content .modal-body .forms .login-form #term-policy {
  font-size: 12px;
  color: #8c8c8c;
}
#login-modal .modal-content .modal-body .forms .login-form .btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
#login-modal .modal-content .modal-body .forms .signUp-form {
  padding: 33px 40px;
  width: 350px;
}
#login-modal .modal-content .modal-body .forms .signUp-form #term-policy {
  font-size: 12px;
  color: #8c8c8c;
}
#login-modal .modal-content .modal-body .forms .signUp-form .btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
#login-modal .modal-content .modal-body .forms .admin-form {
  padding: 33px 40px;
  width: 350px;
}
#login-modal .modal-content .modal-body .forms .admin-form #term-policy {
  font-size: 12px;
  color: #8c8c8c;
}
#login-modal .modal-content .modal-body .forms .admin-form .btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

#cart-modal .modal-dialog {
  margin-right: 10px;
}
#cart-modal .modal-content {
  width: 450px;
}
#cart-modal .modal-content .card .card-img {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cart-modal .modal-content .card .card-img img {
  max-width: 150px;
  max-height: 150px;
}

@media screen and (max-width: 565px) {
  body {
    overflow-x: hidden;
  }

  #navbar {
    height: 110px;
    width: 100%;
  }
  #navbar .container-fluid {
    grid-template-columns: 60px 1fr 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "btn logo cart" "form form form";
  }
  #navbar .container-fluid .navbar-toggler {
    grid-area: btn;
    padding: 0;
    width: 50px;
    border: 2px solid;
  }
  #navbar .container-fluid form {
    width: 100%;
    margin: 0;
  }

  #nav-category {
    background-color: #fff;
  }
  #nav-category .container-fluid {
    display: flex;
    justify-content: center;
  }
  #nav-category .container-fluid ul {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  #banner-section {
    height: 100px;
  }
  #banner-section #banner-carousel {
    height: 100%;
  }
  #banner-section #banner-carousel .carousel-inner .carousel-item img {
    height: 100px;
  }

  .card-container header {
    max-height: 80px;
  }
  .card-container header .header-text div h3 {
    font-size: 18px;
  }
  .card-container .card-slider {
    background-color: #fff;
    overflow: hidden;
  }
  .card-container .card-slider .owl-carousel {
    background-color: #fff;
  }
  .card-container .card-slider .owl-carousel div {
    display: inline-block;
  }
  .card-container .card-slider .owl-carousel .card .card-img img {
    max-width: 120px;
    max-height: 120px;
  }

  footer .footer-links {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  footer .footer-links h4 {
    padding-left: 0;
  }
}