<h4>hello-world-component works!</h4>



    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="" class="col-form-label">Enter Name To interpolate</label>
        </div>
        <div class="col-auto"><input type="text" class="form-control" [(ngModel)]="name">
        </div>
        <div class="col-auto">
          <span id="" class="form-text">
           
          </span>

          <p>{{msg}}</p>
        </div>
      </div>

      <p>hello {{name}}</p>