<div class="container">
    <div class="w-50 pt-1 pb-1 mx-auto">
        <p class="text-center display-6">Student Form</p>
    </div>
    <div class="w-50 pt-1 pb-1" style="margin-left: 510px;">
        <form action="" [formGroup]="student" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6">
                    <label for="enrollnumber" class="form-label">Enrollment Number</label>
                    <input type="text" class="form-control" id="enrollnumber" formControlName="enrollnumber">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="name" class="form-label">Student Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="dob" class="form-label">DOB</label>
                    <input type="date" class="form-control" id="name" formControlName ="dob">
                </div>
            </div>
            <button class="btn btn-secondary mt-3" type="submit" style="width: 100px; margin-left: 100px;" >submit</button>
        </form>
    </div>
</div>