<form class="mt-3">
    <div class="mb-3">
        <label class="form-label">Enter Student's Name</label>
        <input class="form-control" type="text" name="name" id="name" [(ngModel)] = "name" >
    </div>
    <div class="mb-3">
        <label class="form-label">Enter Student's Grade</label>
        <input class="form-control" type="text" name="grade" id="grade" [(ngModel)] = "grade" >
    </div>
    <div class="mb-3">
        <button class="btn btn-success" (click) = "addNewStudent(name,grade)" >Submit</button>
    </div>
</form>